<!-- Add font-awesome icons library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div id="home">
  <div class="overlay-container" style="background-image: url('assets/login-image.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; height: 100%; position: relative;">
    <div class="content-center">
      <div class="container">
        <div class="row">
          <!-- Image on the left -->
          <div class="col-md-6">
            <div style="margin-top: 20px; margin-right: 820px; width:400px; height:400px; color: antiquewhite;">
              <img src="assets/pic.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image"
                style="width: 90%; height: auto; background-size: cover;border-radius: 50%;">
            </div>
          </div>
          <!-- Text on the right -->
          <div class="col-md-6" style="margin-top: 80px;">
            <div class="title-brand" style="display: block; align: right; position: relative;">
                <h1 class="presentation-title">Hi This is SAYAN</h1>
                <!-- Rest of the content -->
                <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="" style="opacity: 0.1">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="" style="opacity: 0.1">
                </div>
            </div>
            <h2 class="presentation-subtitle text-center" style="color: rgb(187, 188, 189);">Full-Stack Developer</h2>
        </div>
        </div>
        <!-- Download CV button -->
        <button type="button" class="btn btn-outline-info btn-round" style="border-radius: 50px;" onclick="window.location.href='https://drive.google.com/file/d/1EXCV2RyzK6iFMiCqRauWnFwbNIV0LoEN/view?usp=sharing'">Download CV</button>

  
      </div>
    </div>

  </div>

  
</div>