<!-- <div class="user">

  <div class="tech">
    <h2>Languages</h2>
    <i class="devicon-python-plain colored icon"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <p>My favorite languages for systems programming, software engineering, and data analysis.</p>
  </div>

  
  <div class="tech">
    <h2>Front-End</h2>
    <i class="devicon-react-original colored"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <p>My preferred technologies for front-end web development and component design.</p>
  </div>


  <div class="tech">
    <h2>Back-End</h2>
    <i class="devicon-nodejs-plain colored"></i>
    <i class="devicon-express-original-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <p>My preferred technologies for back-end web programming and database architecture.</p>
  </div>

 
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-github-plain-wordmark colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <p>My favorite tools for version control, code editing, and container orchestration.</p>
  </div>
</div> -->

<div class="background" style="background-image: url('assets/1515.jpeg'); 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
height: 100%; 
position: relative;" id="skill">
  <br>
<h1 style="color: aliceblue;">Skills</h1><br>
<div class="buttons">  
  <button class="neumorphic" >
    <i class="fa-brands fa-node"></i>
    <span>Node js</span>
  </button>
  <button class="neumorphic">
    <i class="fa-brands fa-angular"></i>
    <span>Angular</span>
  </button>
  <button class="neumorphic">
    <i class="fa-solid fa-database"></i>
    <span>SQL</span>
  </button>
  <button class="neumorphic">
    <i class="fa-brands fa-git-alt"></i>
    <span>Git</span>
  </button>
  <button class="neumorphic">
    <i class="fa-brands fa-jira"></i>
    <span>Jira</span>
  </button>
  <button class="neumorphic">
    <i class="fa-brands fa-bitbucket"></i>
    <span>Bit Bucket</span>
  </button>
</div>
<br>
</div>
